@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


html{
  background-color: #eee;
}

body{
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: #111;
  background-color: #eee;
}

h1, h2, h3{
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em;
  text-align: center;

}

h3{
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 1.5em;
}

h4{
  font-weight: 900;
}

.list{
  padding: 3em 8em 15%;
  animation: fadein 2s;
  position: relative;
  z-index: 0;
}

.titles {
  animation: fadein 2s;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.titles a {
  float: left;
  width: 40%;
}

.center {
  text-align: center;
  width: 100vw;
  margin-top: 3vh;
}

a, a:visited {
  color: #000;
  text-decoration: none;
  line-height: 1.6em;
}

a:hover {
  color: blue;
}

.contact{
  animation: fadein 5s;
  text-align: center;
  margin-bottom: 3em;
  display: block;
}

.contact a{
  text-decoration: underline;
}

.image {
  object-fit: fill;
  width: 100vw;
}

.teeth-image {
  object-fit: fill;
  width: 100vw;
  justify-content: flex-end;
  bottom: 0;
}

.fab, .fas{
  vertical-align: middle;
  background-color: #333;
  border-radius: 50%;
  padding: 0.7em;
  margin: 0.8em;
}

a > .fab, a > .fas{
  color: #eee;
  font-size: 1.2em;
}

.fab:hover, .fas:hover{
  background-color: blue;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-device-width: 480px) {

        h1{
          margin-right: -0.7em;
          padding-bottom: 0.4em;
        }
        h1.name{
          text-align: center;
          margin: 2em 0 0 0;
          padding: 0;
          font-size: 2em;
        }
        .list{
          padding: 0em 3em;
        }
        .titles {
          animation: fadein 2s;
          width: 100%;
          text-align: center;
          display: block;
          vertical-align: top;
        }
        .titles a {
          float: left;
          width: 100%;
        }
        .center img {
          width: 50vw;
          height: auto;
        }
    }
